html, body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background: darkblue;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

.d {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: darkred;
	border: 1px solid greenyellow;
}
