html, body {
	color: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background: darkblue;
	height: 100%;
}

html {
	height: 100%;
}



.header {
	width: 100%;
	flex-shrink: 0;
	height: 12vh;
	background-color: grey;
}
.d {
	box-sizing: border-box;
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: darkred;
	border: 1px solid greenyellow;
}

.d1 {
	min-height: 88%;
	height: 88%;
}
